[submodule "extern/log.c"]
	path = extern/log.c
	url = https://github.com/rxi/log.c.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "Nuklear"]
	path = Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
